<ion-header>
  <ion-navbar color="color-header">
    <!-- <ion-buttons left>
        <button (tap)="back()" ion-button icon-only clear>
          <ion-icon name="md-arrow-back"></ion-icon>
        </button>
      </ion-buttons> -->
    <ion-title>
      FACE TRIP
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content  >
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col col-8>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <b>{{user['name']}}</b>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col *ngIf="user['city']; else elsecity" col-auto>
                  <span class="label">{{user['city']}}, {{user['country']}}</span>
                </ion-col>
                <ng-template #elsecity>
                  <ion-col col-auto><span class="label">{{user['country']}}</span>
                  </ion-col>
                </ng-template>
              </ion-row>
              <ion-row align-items-end>
                <ion-col col-auto>
                  <span class="label">{{user['language1']}} <ion-badge item-end>{{user['lvLanguage1']}}</ion-badge></span>
                </ion-col>
                <ion-col *ngIf="user['language2']" col-auto>
                  <span class="label">, {{user['language2']}} <ion-badge item-end>{{user['lvLanguage2']}}</ion-badge></span>
                </ion-col>
                <ion-col *ngIf="user['language3']" col-auto>
                  <span class="label">, {{user['language3']}} <ion-badge item-end>{{user['lvLanguage3']}}</ion-badge></span>
                </ion-col>
                <ion-col *ngIf="user['language4'] " col-auto>
                  <span class="label">, {{user['language4']}} <ion-badge item-end>{{user['lvLanguage4']}}</ion-badge></span>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col *ngIf="user['guide_fee'] !== 'Free' && user['guide_fee']; else elseguide" col-auto>
                  <span class="label">Fee: ${{user['guide_fee']}}</span>
                </ion-col>
                <ng-template #elseguide>
                  <ion-col col-auto><span class="label">Fee: Free</span>
                  </ion-col>
                </ng-template>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-col *ngIf="user['meet_at_airport'] === 'true'; else elseairport" col-auto>
                    <span class="label">Meet at the Airport: POSSIBLE</span></ion-col>
                  <ng-template #elseairport>
                    <ion-col col-auto>
                      <span class="label">Meet at the Airport: IMPOSSIBLE</span>
                    </ion-col>
                  </ng-template>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-auto>
                  <span class="label">INTEREST: {{user['interest']}}</span>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-right style="justify-content: flex-end">
            <!-- <button (tap)="openBrowser(user['fb_id'])" color="facebook" ion-button icon-only clear>
              <ion-icon name="logo-facebook"></ion-icon>
            </button> -->
            <button *ngIf="user['base64'] != myUser['base64']; else elseMe" (tap)="goToChat()" color="_gray" ion-button icon-only clear>
              <ion-icon name="md-chatboxes"></ion-icon>
            </button>
            <ng-template #elseMe>
              <button color="_gray" ion-button icon-only clear>
                <ion-icon name="md-chatboxes"></ion-icon>
              </button>
            </ng-template>

          </ion-col>
        </ion-row>
      </ion-grid>
      <img *ngIf="!user['pictures']" [src]="user['picture']+'?type=normal'" alt="">
      <ion-slides *ngIf="user['pictures']" pager="true">
        <ng-container *ngFor="let pic of pictures">
          <ion-slide *ngIf="pic.length>0">
            <img [src]="pic" alt="">
          </ion-slide>
        </ng-container>
      </ion-slides>
      <ion-textarea rows="3" [(ngModel)]="user['introduction']" disabled></ion-textarea>
    </ion-card-content>
  </ion-card>

  <div class="homestay" *ngIf="user['homestay']">
    <ion-list>
      <ion-item-divider>
        Homestay
      </ion-item-divider>
    </ion-list>
    <div class="uploads">
      <img *ngIf="!user['homestay']['pictures']" [src]="user['homestay']['picture']" alt="">
      <ion-slides *ngIf="user['homestay']['pictures']" pager="true">
        <ng-container *ngFor="let pic of getPictures(user['homestay']['pictures'])">
          <ion-slide *ngIf="pic.length>0">
            <img [src]="pic" alt="">
          </ion-slide>
        </ng-container>
      </ion-slides>
    </div>
    <ion-grid class="homestay-desc">
      <ion-row>
        <ion-col>Locaiton</ion-col>
        <ion-col>{{user['homestay']['location']}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Daily Price</ion-col>
        <ion-col *ngIf="user['homestay']['price'] != 'Free'; else elseprice">
          ${{user['homestay']['price']}}
        </ion-col>
        <ng-template #elseprice>
          <ion-col>FREE</ion-col>
        </ng-template>
      </ion-row>
      <ion-row>
        <ion-col>Wifi</ion-col>
        <ion-col>{{user['homestay']['wifi']? 'Yes': 'No'}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Breakfast</ion-col>
        <ion-col>{{user['homestay']['breakfast'] ? 'Yes': 'No'}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p>{{user['homestay']['description']}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

    <p>Reviews</p>
    <div class="star">
      <button ion-button icon-only clear (click)="clickStar(1)">
        <ion-icon name="ios-star-outline" *ngIf="ratingCheck==0" color="star-normal"></ion-icon>
        <ion-icon name="ios-star" *ngIf="ratingCheck>0"></ion-icon>
      </button>
      <button ion-button icon-only clear (click)="clickStar(2)">
        <ion-icon name="ios-star-outline" *ngIf="ratingCheck<=1" color="star-normal"></ion-icon>
        <ion-icon name="ios-star" *ngIf="ratingCheck>1"></ion-icon>
      </button>
      <button ion-button icon-only clear (click)="clickStar(3)">
        <ion-icon name="ios-star-outline" *ngIf="ratingCheck<=2" color="star-normal"></ion-icon>
        <ion-icon name="ios-star" *ngIf="ratingCheck>2"></ion-icon>
      </button>
      <button ion-button icon-only clear (click)="clickStar(4)">
        <ion-icon name="ios-star-outline" *ngIf="ratingCheck<=3" color="star-normal"></ion-icon>
        <ion-icon name="ios-star" *ngIf="ratingCheck>3"></ion-icon>
      </button>
      <button ion-button icon-only clear (click)="clickStar(5)">
        <ion-icon name="ios-star-outline" *ngIf="ratingCheck<=4" color="star-normal"></ion-icon>
        <ion-icon name="ios-star" *ngIf="ratingCheck>4"></ion-icon>
      </button>
      <button (tap)="addReview()" ion-button small class="submitAddreview">Submit</button>
      <ion-textarea placeholder="Write your comment for this homestay" [(ngModel)]="comment" rows="3"></ion-textarea>
    </div>

    <ion-list *ngIf="listComment">
      <ion-item *ngFor="let review of listComment">
        <div class="star-show">
          <h2>{{review.name}}</h2>
          <button ion-button icon-only clear disabled>
            <ion-icon name="ios-star-outline" *ngIf="review.star==0"></ion-icon>
            <ion-icon name="ios-star" *ngIf="review.star>0"></ion-icon>
          </button>
          <button ion-button icon-only clear disabled>
            <ion-icon name="ios-star-outline" *ngIf="review.star<=1"></ion-icon>
            <ion-icon name="ios-star" *ngIf="review.star>1"></ion-icon>
          </button>
          <button ion-button icon-only clear disabled>
            <ion-icon name="ios-star-outline" *ngIf="review.star<=2"></ion-icon>
            <ion-icon name="ios-star" *ngIf="review.star>2"></ion-icon>
          </button>
          <button ion-button icon-only clear disabled>
            <ion-icon name="ios-star-outline" *ngIf="review.star<=3"></ion-icon>
            <ion-icon name="ios-star" *ngIf="review.star>3"></ion-icon>
          </button>
          <button ion-button icon-only clear disabled>
            <ion-icon name="ios-star-outline" *ngIf="review.star<=4"></ion-icon>
            <ion-icon name="ios-star" *ngIf="review.star>4"></ion-icon>
          </button>
        </div>
        <p>{{review.comment}}</p>
        <p>{{review.time}}</p>
      </ion-item>
    </ion-list>

</ion-content>