<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button clear (tap)="dismiss()">
        Cancel
      </button>
    </ion-buttons>
    <ion-title text-center>Select Country</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="login-wrap">
    <h1>Select Your Country</h1>

    <ion-select  [(ngModel)]="country" (ngModelChange)="onItemSelected($event)" placeholder="choose country">
      <ion-option [value]="country['name']" *ngFor="let item of countryList">{{item['name']}}</ion-option>
    </ion-select>
    <button [disabled]="!country" round full color="primary" ion-button icon-left (tap)="save()">
      Submit
    </button>

  </div>
</ion-content>
