<ion-header>
  <ion-navbar>
    <ion-title>{{receiver['name']}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <message-box *ngFor="let msg of viewMessages" [message]="msg" [isFromSender]="(msg.base64 === user.base64)"></message-box>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input type="text" (keyup.enter)="submitChat(message)" placeholder="Message..."
      [(ngModel)]="message"></ion-input>
    <ion-buttons end>
      <button ion-button icon-only clear color="dark" (click)="submitChat(message); message=''"
        [disabled]="message == null">
        <ion-icon name="md-send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>