page-room-chat {
    .header {
        .searchbox {
          display: flex;
          background: #5285be;
          .button{
            min-width: 35px;
          }
        }
        .searchbar{
          background: transparent;
        }
      }
      .content{
          .item{
              .button{
                  width: 10px;
                  height: 10px;
                  padding: 0;
              }
          }
      }
}
