<p *ngIf="isFromSender && message.timestamp" >{{ message.timestamp.toDate() | date:'hh:mm aaa'}}</p>
<div [ngClass]="{'my_message': isFromSender, 'other_message': !isFromSender}">
  <p>{{ message.text }}</p>
</div>
<p *ngIf="!isFromSender && message.timestamp">{{ message.timestamp.toDate() | date:'hh:mm aaa' }}</p>