message-box {
    display: flex;
    margin-top: 2px;
    margin-bottom: 3px;

    .my_message {
        // background: rgba(148, 148, 148, 0.18);
        max-width: 70%;
        min-width: 10%;
        background: #c8e9ff;
        border-radius: 15px;
        text-align: left;
    }

    .other_message {
        // background: #fff;
        max-width: 70%;
        min-width: 10%;
        background: #f3f3f3;
        border-radius: 15px;
        text-align: left;
        // border-width: .5px;
        // border-style: solid;
        // border-color: rgba(0, 0, 0, 0.26);
    }


    p {
        padding: 0px 10px;
        margin: 7px 0px !important;
        // font-weight: 380;
    }
    span{
        margin: 14px 4px 0px;
        font-size: 0.75em;
        color: #00000070;
        align-self: flex-end;
    }
}
